.navbar {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  transition: width 0.15s ease;
  z-index: 200;
  overflow: hidden;
}

.navbarContainer {
  padding: 0 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.navbarContainer > div:first-child {
  position: sticky;
  top: 0;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  padding: 0 10px;
  z-index: 1;
}

.navbarContainer > div:first-child > div {
  margin: 0;
}

@media (max-width: 576px) {
  .navbar {
    position: absolute;
    left: -200px;
    width: 200px;
    background-color: var(--mantine-color-body);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 300;
  }

  .navbar.expanded {
    left: 0;
  }
}

.toggleButton {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
  color: var(--mantine-color-blue-6);
  display: none;
}

.toggleButton:hover {
  background-color: transparent;
}

.toggleButton:active {
  background-color: transparent;
  transform: none;
}

@media (max-width: 576px) {
  .toggleButton {
    display: block;
  }
}

.wrapper {
  display: flex;
  flex: 1;
}

.aside {
  flex: 0 0 60px;
  background-color: var(--mantine-color-body);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
}

.main {
  flex: 1;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.mainLink {
  width: 44px;
  height: 44px;
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-blue-light);
      color: var(--mantine-color-blue-light-color);
    }
  }
}

.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  margin-bottom: var(--mantine-spacing-xl);
  background-color: var(--mantine-color-body);
  padding: var(--mantine-spacing-md);
  padding-top: 18px;
  height: 60px;
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 60px;
  padding-top: var(--mantine-spacing-md);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  margin-bottom: var(--mantine-spacing-xl);
}

.link {
  width: 100%;
  color: inherit;
  font-size: 0.95rem;
  transition: background 0.2s ease;
  border-radius: 8px;
}

.link:hover {
  background-color: #f0f0f0;
}

.link[data-active='true'] {
  background-color: #228be6;
  color: white;
}
