.navbar {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  transition: width 0.15s ease;
  z-index: 200;
  overflow: hidden;
}

.navbarContainer {
  padding: 0 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.navbarContainer > div:first-child {
  position: sticky;
  top: 0;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  padding: 0 10px;
  z-index: 1;
}

.navbarContainer > div:first-child > div {
  margin: 0;
}

@media (max-width: 992px) {
  .navbar {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .navbar {
    width: 200px;
  }
}

@media (max-width: 576px) {
  .navbar {
    position: absolute;
    left: -200px;
    width: 200px;
    background-color: var(--mantine-color-body);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 300;
  }

  .navbar.expanded {
    left: 0;
  }
}

.toggleButton {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
  color: var(--mantine-color-blue-6);
  display: none;
}

.toggleButton:hover {
  background-color: transparent;
}

.toggleButton:active {
  background-color: transparent;
  transform: none;
}

@media (max-width: 576px) {
  .toggleButton {
    display: block;
  }
}

.link {
  width: 100%;
  color: inherit;
  font-size: 0.95rem;
  transition: background 0.2s ease;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
  text-decoration: none;
}

.link:hover {
  background-color: #f0f0f0;
}

.link[data-active='true'] {
  background-color: #228be6;
  color: white;
}

.linkIcon {
  width: 20px;
  height: 20px;
}